* {
	margin: 0px;
	padding: 0px;
	text-decoration : none;
	list-style: none;
}

body {
	font-family: 'poppins';
	background-color: #475928; ;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans empattement;
    box-sizing: border-box;
}

.buttun {
    width: auto;
    height: 42px;
    color: white;
    background-color: black;
    border-radius: 7px;
    padding: 10px;
    margin-top: 10px;
}
.cv_k:hover{
    background-color: white;
    color: black;
    letter-spacing: 2px;
    border: none;
}

/* HEADER */
header{
    background-image: url(../img/backgroun-head.png);
    background-size: cover;
    background-position: center;
    height: 800px;
}
.conthead{
    padding-left: 8%;
    padding-right: 8%;
}
/* nav */
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}
nav{
    background: transparent;
}

.port{
    font-size: 2.2em;
    font-weight: bold;
}
.lio{
    color: aqua;
}
.nav-link{
    color: white;
    font-size: 1em;
    margin-left: 30px;
}
.nav-link:hover{
    color: aqua;
    border-bottom: 2px solid aqua;
}
/* section 1 */
.present {
    margin-top: 200px;
}
.salut {
    font-size: 2em;
    color: white;
}
.Nom {
    font-size: 5em;
    color: white;
}
.Poste {
    font-size: 2.6em;
    margin-bottom: 15px;
    color: white;
}
.type {
    color: white;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: lighter;
}
.btn {
    width: auto;
    height: 50px;
    background-color: #08FDD8;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 6px;
    border-color: #08FDD8;
    margin-top: 15px;
}
.btn:hover {
    background-color: #6666;
    color: white;
    border: 2px solid white;
    padding: 10px;
}
.for{
    width: auto;
    height: 50px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 6px;
    margin-top: 20px;
}
.en {
    background-color: transparent;
    color: #08FDD8;
}
/* HEADER */
/* PREMIERE BOITE */
.boite1 {
    background-color: #13A6A6;
    padding: 0px;
    padding: 50px 8% 50px 8%;
}
.boite3,
.boite5 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    padding: 8%;
}
.propos {
    margin-bottom: 70px;
    font-size: 2em;
}
.photo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.photo section {
    width: 47%;
}

.imgg {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.imgg img {
    width: 75%;
    border-radius: 20px;
    box-shadow: 3px 5px 5px 5px;
    height: auto;
}
h4,h3,msg {
    font-size: 1.6em;
	color: #D3D3D3;
}
p {
    margin-top: 10px 0px 10px 0px;
    font-size: 1.1em;
    font-weight: lighter;
    line-height: 150%;
    text-align: justify;
}
.metier{
    color: rgb(221, 212, 212);
    background-color: #fff;
    padding: 5px 10px 0px 10px;
}
/* deuxieme BOITE */
.boite4 {
    padding: 8%;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.boite2 {
    background-color: #e5fffe;
}

.boite4 {
    background-color: #2f3d44;
}

.formation {
    font-size: 2em;
    color:black;
}

.proj {
    color: white;
}

.name_form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.boite_info {
    width: 32%;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    background-color: #222;
    color: white;
    border-radius: 10px;
}
.boite_info:hover{
    background-color: transparent;
    transition: 1s;
    color: rgb(228, 215, 215);
    border: 3px solid #13A6A6;
    border-radius: 20px;
}
/* troisieme boite */
.compet {
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.compet section {
    display: flex;
    flex-direction: column;
    width: 47%;
    justify-content: center;
}
.compet section a{
    width: auto;
}
.compet section h5{
    margin-bottom: 5px;
}
.compet section aside{
    display: block;
    width: 90%;
    height: 10px;
    background:  #13A6A6;
    border-radius: 20px;
    margin-bottom: 20px;
}
.compet section .bootstrap{
    width: 75%;
}
.compet section .wordpress{
    width: 50%;
}
.compet section .figma{
    width: 68%;
}
.compet section .canva{
    width: 84%;
}
.compet section .photoshop{
    width: 40%;
}
/* quatrieme boite */
.boite22 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.boite22 section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boite22 section aside,
.equipe {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 240px;
    padding-top: 10px;
    margin-bottom: 15px;
}
.blocks aside {
    display: flex;
    justify-content: center;
    border-radius: 7px;
    border: 5px solid #13A6A6;
}
aside h5 a {
    color: white;
    background-color: #13A6A6;
    padding: 20px;
    border-radius: 7px;
}
.block3 {
    background-image: url(../img/projet3.png);
    background-size: cover;
}

.block5 {
    background-image: url(../img/projet5.png);
    background-size: cover;
}

.block6 {
    background-image: url(../img/projet6.png);
    background-size: cover;
}

.block7 {
    background-image: url(../img/projet7.png);
    background-size: cover;
}
.block8{
	background-image: url(../img/projet8.png);
    background-size: cover;
}

/* cinquieme boite */
.compete {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
	color: #fff;
}

.compete section,
.compete form {
    width: 47%;
}

.invit {
    color:white;
    font-weight: bold;
    font-size: 3.3em;
}

.icon {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

/* ICON */
.fa-solid {
    color: #08FDD8;
    margin-right: 35px;
}

.first {
    height: 70px;
    margin-bottom: 10px;
}

/* ICON */
.email {
    color: white;
}

.formul section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.formul section input {
    width: 49%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    height: 50px;
}

.form {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.copie {
    margin-top: 0px;
}
.mms {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid #D3D3D3;
	color:black;
}
/* footer */
footer {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.footer_logo{
    font-size: 1.7em;
    color: white;
    text-decoration: none;
}
.footer_logo:hover{
    color: aqua;
}
@media screen and (max-width: 600px) {
    header {
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center;
    }
    .present {
        margin-top: 100px;
    }
    .Nom {
        font-size: 2.3em;
    }
    .salut, .Poste {
        font-size: 1.05em;
    }
    .imgg{
        margin-bottom: 30px;
    }
    .propos, .formation{
        font-size: 1.7em;
        font-weight: bold;
        padding: 0px;
    }
    .propos{
        margin-bottom: 45px;
		color: #fff;
    }
    h4{
        font-size: 1.4em;
    }
    .metier{
        padding: 0px;
    }
    .boite22 section aside, .equipe {
        display: flex;
        width: 100%;
        height: 240px;
        padding-top: 10px;
        margin-bottom: 15px;
    }
    .equipe {
        height: auto;
		color: #e5fffe;
    }
    /* boite 1 */
    .photo section, .name_form aside, .compet section {
        width: 100%;
        margin-top: 30px;
    }
    .compete section, .compete form {
        width: 100%;
		color: #fff;
    }
    .compete form {
        margin-top: 30px;
    }
    .invit{
        font-size: 2.14em;
        margin-top: 10px;
    }
}

@media screen and (min-width: 601px)and (max-width: 1000px) {
    .collapse{
        width: 100%;
    }
    .ul{
        display: flex;
        flex-wrap: wrap;
    }
    .photo section, .name_form aside, .compet section {
        width: 49%;
        margin-top: 30px;
        padding: 20px;
    }
    .compete section, .compete form, .compet section {
        width: 100%;
    }
    .compete form {
        margin-top: 30px;
    }
    .boite22 section aside, .equipe {
        display: flex;
        width: 49%;
        height: 300px;
        padding-top: 10px;
        margin-bottom: 15px;
    }
    .equipe section {
        height: 300px;
    }
    .equipe {
        height: auto;
    }
}
	